<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MakersOfDenmark</title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>

<body>
    <header>
        <!-- Navbar Start -->
        <div class="navigation">
            <div class="nav-container">
                <div class="brand">
                    <a asp-controller="home" asp-action="index"><img src="/img/Logo_white.svg" width="100" height="70"
                            title="MakersOfDenmark" alt=""></a>
                </div>
                <nav>
                    <div class="nav-mobile"><a id="nav-toggle" href="#"><span></span></a></div>
                    <ul class="nav-list">
                        <li>
                            <a asp-controller="vaerksted" asp-action="index">VÆRKSTED</a>
                        </li>
                        <li>
                            <a asp-controller="aktiviteter" asp-action="index">AKTIVITETER</a>
                        </li>
                        <li>
                            <a asp-controller="blog" asp-action="index">BLOG</a>
                        </li>
                        <li>
                            <a asp-controller="forum" asp-action="index">FORUM</a>
                        </li>
                        <li>
                            <a asp-controller="faq" asp-action="index">FAQ</a>
                        </li>
                        <li>
                            <a asp-controller="login" asp-action="index">LOG IN</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- Footer Start -->
    <footer>
        <div class="footer-grid">
            <div class="links-footer">
                <ul>
                    <h4>LINKS</h4>
                    <li><a asp-controller="vaerksted">Værksted</a></li>
                    <li><a asp-controller="aktiviteter">Aktiviteter</a></li>
                    <li><a asp-controller="blog">Blog</a></li>
                    <li><a asp-controller="forum">Forum</a></li>
                    <li><a asp-controller="faq">FAQ</a></li>
                </ul>
            </div>
            <div class="kontakt-footer">
                <ul>
                    <h4>KONTAKT</h4>
                    <li>Makers of Denmark <br>Seebladsgade 1, <br> 5000 Odense C</a></li>
                    <br>
                    <li><a href="info@makersofdenmark.dk">info@makersofdenmark.dk</a></li>
                </ul>
            </div>
            <div class="social-icons-wrapper">
                <h4>FØLG MED</h4>
                <div class="social-icons">
                    <a href="#" class="si si-facebook"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-brand-facebook" width="44" height="44"
                            viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                        </svg></a>
                    <a href="#" class="si si-linkedin"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-brand-linkedin" width="44" height="44"
                            viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <rect x="4" y="4" width="16" height="16" rx="2" />
                            <line x1="8" y1="11" x2="8" y2="16" />
                            <line x1="8" y1="8" x2="8" y2="8.01" />
                            <line x1="12" y1="16" x2="12" y2="11" />
                            <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                        </svg></a>
                    <a href="#" class="si si-twitter"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-brand-twitter" width="44" height="44"
                            viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" />
                        </svg></a>
                </div>
            </div>
            <div class="logo-link">
                <a asp-controller="home"><img src="/img/Logo_white.svg" title="MakersOfDenmark" alt=""></a>
            </div>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
