@media only screen and (max-width: 1000px) {
  /* Mobile footer */
  .sec-footer {
    grid-template-columns: repeat(auto-fit, #{"minmax(320px, 1fr)"}) !important;
  }
}

/* footer start her */
footer {
  width: 100%;
  background-color: #f76c6c;
  padding: 80px 20px;
  font-size: 16px;
  a {
    color: #fff;
  }
}
.footer-grid {
  margin: auto;
  max-width: $page-width;
  display: grid;
  grid-template-columns: repeat(auto-fit, #{"minmax(min(230px, 100%), 1fr)"});
  div {
    padding: 0 20px 0 0;
  }
  div:last-of-type {
    padding: 0;
  }
}

.links-footer {
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  ul {
    color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
.logo-link {
  top: 0px;
  right: 10px;
  cursor: pointer;
}
.logo-link a img {
  width: 100%;
  height: auto;
}
.social-icons {
  display: flex;
}
.fa img {
  width: 40px;
  height: auto;
}
.fa {
  text-align: center;
  text-decoration: none;
  height: 40px;
  margin: 0 10px 0 0;
}
.fa:last-of-type {
  margin: 0;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #ffffff;
  color: #f76c6c;
}
.fa-twitter {
  background: #ffffff;
  color: #f76c6c;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
}
.fa-twitter img {
  height: 36px;
  width: auto;
}
.fa-linkedin {
  background: #ffffff;
  color: #f76c6c;
}

.kontakt-footer ul {
  color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
