/* Generel css */
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  color: #4e4e4e;
}
h1,
h2 {
  font-family: Merriweather;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

/* Navigation */
.navigation {
  height: 70px;
  background: #24305e;
  position: fixed !important;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 0 20px 0 20px;
}
.brand {
  position: absolute;
  line-height: 70px;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0 -10px 0 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 12px;
  line-height: 70px;
  background: #24305e;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #374785;
  color: #ffffff;
}

nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

/*** Mobile navigation ***/
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #24305e;
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 698px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 10px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/*** white space start her ***/
article {
  max-width: 1000px;
  min-height: 300px;
  margin: 0 auto;
  padding: 100px 20px;
}
/* FAQ start her */
.art-faq {
  font-family: Montserrat;
  font-size: 14px;
}
.faq1 {
  float: right;
  margin-top: 0px;
  padding-left: 30px;
  width: 180px;
  height: 200px;
  left: 50px;
}
.faq-h {
  font-family: Montserrat;
  font-size: 16px;
  display: block;
  margin-bottom: 6em;
  margin-left: 0;
  margin-right: 0;
}
.faq {
  font-family: Montserrat;
  font-size: 16px;
}
.collapsible {
  font-family: Montserrat;
  font-size: 18px;
  border: 1px #24305e;
  border-style: solid;
  margin: auto;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  text-align: left;
  outline: none;
}
.active,
.collapsible:hover {
  background-color: #a8d0e6;
}
.collapsible:after {
  content: "\002B";
  color: #24305e;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2212";
}
.content {
  font-family: Montserrat;
  font-size: 14px;
  border: 1px #24305e;
  border-style: solid;
  background-color: #ffffff;
  padding: 0 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

@media only screen and (max-width: 1000px) {
  /* Mobile footer */
  .sec-footer {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)) !important;
  }
}

/* footer start her */
footer {
  padding: 80px 20px;
  background-color: #f76c6c;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.sec-footer {
  margin: auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(230px, 100%), 1fr));
  box-sizing: border-box;
}
.sec-footer div {
  padding: 0 20px 20px 0;
  box-sizing: border-box;
}
.sec-footer div:last-of-type {
  padding: 0 0 0 0;
}
.sec-footer a {
  color: #fff;
}
.links-footer a {
  text-decoration: none;
}
.links-footer a:hover {
  text-decoration: underline;
}
.logo-link {
  top: 0px;
  right: 10px;
  cursor: pointer;
}
.logo-link a img {
  width: 100%;
  max-width: 250px;
  height: auto;
}
.social-icons {
  display: flex;
}
.fa img {
  width: 40px;
  height: auto;
}
.fa {
  text-align: center;
  text-decoration: none;
  height: 40px;
  margin: 0 10px 0 0;
}
.fa:last-of-type {
  margin: 0;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #ffffff;
  color: #f76c6c;
}
.fa-twitter {
  background: #ffffff;
  color: #f76c6c;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
}
.fa-twitter img {
  height: 36px;
  width: auto;
}
.fa-linkedin {
  background: #ffffff;
  color: #f76c6c;
}
.links-footer ul {
  font-family: Montserrat;
  font-size: 13px;
  color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.kontakt-footer ul {
  font-family: Montserrat;
  font-size: 13px;
  color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* FAQ start her */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
