<div class="login-container">
        <form id="action" action="index.html">
            <input id="email" type="text" placeholder="E-mail" required>
            <input id="password" type="password" placeholder="Password" required>
            <div id="bruger-links">
                <li><a href="glemtpassword.html">Glemt password?</a></li>
                <li><a href="opretbruger.html">Opret bruger</a></li>
            </div>
            <input type="button" value="Log ind" class="button" onClick="#">
        </form>
</div>

