.faq {
  max-width: 800px;
  margin: auto;
}
.faq-intro {
  display: flex;
  grid-template-columns: auto auto;
  justify-content: space-around;
  margin-bottom: 32px;
}
.faq-intro-text {
  max-width: 600px;
  padding-right: 32px;
}
.faq-image {
  background-color: $secondary-color;
  border-radius: 100%;
}
.faq-accordion {
  .collapsible {
    border: none;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding: 14px;
    width: 100%;
    background-color: $primary-color;
    color: #fff;
    cursor: pointer;
    position: relative;
    &:after {
      content: "\002B";
      color: #fff;
      font-weight: bold;
      position: absolute;
      right: 16px;
    }
  }
  .content {
    font-size: 16px;
    background-color: #fcfcfc;
    max-height: 0;
    height: 100%;
    overflow: hidden;
    transition: max-height 0.3s linear;
    box-sizing: border-box;
    p {
      padding: 0 16px;
      &:nth-child(odd) {
        font-weight: bold;
        padding-top: 32px;
      }
      &:first-of-type {
        padding-top: 20px;
      }
      &:last-of-type {
        padding-bottom: 32px;
      }
    }
  }
}

.collapsible:hover {
  background-color: $primary-color;
  opacity: 0.8;
}
.collapsible .active:after {
  content: "\2212";
}
