@{
    ViewData["Title"] = "Home Page";
}

<div class="home-wrapper">
    <div class="home-img">
        <div class="home-center-search">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. </p>
            <input type="text" placeholder="Find værksted.."/>
        </div>
    </div>
    <div class="home-filter-container">
        <div class="home-filter">
            <p>Filtrer</p>
            <input type="text" placeholder="Find værksted.." />
        </div>
        <div class="home-find-vaerksted">
            <p>Find værksted</p>
        </div>
    </div>
</div>