<div class="faq">
    <div class="faq-intro">
        <div class="faq-intro-text">
            <h2>Hvem er Makers of Denmark?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna tortor, tincidunt ac tristique
                sit amet, condimentum ut erat. <br><br> Mauris sem mi, ultrices et hendrerit vitae, hendrerit non
                tortor. Praesent magna tortor, tincidunt ac tristique sit amet, condimentum ut erat. Mauris sem mi,
                ultrices et.
            </p>
        </div>
        <div class="faq-image"><svg xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-question-mark" width="180" height="180" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M8 8a3.5 3 0 0 1 3.5 -3h1a3.5 3 0 0 1 3.5 3a3 3 0 0 1 -2 3a3 4 0 0 0 -2 4" />
                <line x1="12" y1="19" x2="12" y2="19.01" />
            </svg></div>
    </div>
    <h2>Oftest stillede spørgsmål</h2>
    <div class="faq-accordion">
        <button class="collapsible">Medlemskab</button>
        <div class="content">
            <p>Hvordan bliver jeg medlem?</p>
            <p>Du kan blive medlem ved oprette en ny bruger. <a href="../pages/log.html" color: red>Opret ny
                    bruger her.</a>
            </p>
            <p>Kan jeg melde mig til et kursus når jeg er ikke medlem?</p>
            <p>Du skal være medlem for at tilmelde dig et kursus. <a href="../pages/log.html" color: red>Bliv
                    medlem her.</a></p>
            <p>Hvad koster det at være medlem?</p>
            <p>Det koster ikke nogen at være medlem.</p>
        </div>
        <button class="collapsible">Værksteder</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <button class="collapsible">Kursus</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <button class="collapsible">Badges</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <button class="collapsible">Kalender</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
    </div>
    <script src="/js/faq.js"></script>
