@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 14px;
  color: #4e4e4e; }

@media (min-width: 768px) {
  html {
    font-size: 16px; } }

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0; }

body {
  font-family: Montserrat;
  font-display: swap; }

h1,
h2 {
  font-family: Merriweather;
  font-display: swap; }

/* -- Navigation start -- */
header {
  margin-bottom: 70px; }

.navigation {
  height: 70px;
  background: #24305e;
  position: fixed !important;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 0 20px 0 20px;
  z-index: 1;
  box-sizing: border-box;
  font-size: 12px; }

.brand {
  position: absolute;
  line-height: 70px; }

.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none; }

.nav-container {
  max-width: 1200px;
  margin: 0 auto; }

nav {
  float: right; }

nav ul {
  list-style: none;
  margin: 0 -10px 0 0;
  padding: 0; }

nav ul li {
  float: left;
  position: relative; }

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 12px;
  line-height: 70px;
  background: #24305e;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none; }

nav ul li a:hover,
nav ul li a:visited:hover {
  background: #374785;
  color: #ffffff; }

nav ul li ul li {
  min-width: 190px; }

nav ul li ul li a {
  padding: 15px;
  line-height: 20px; }

/*** Mobile navigation ***/
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #24305e;
  height: 70px;
  width: 70px; }

@media only screen and (max-width: 698px) {
  .nav-mobile {
    display: block; }
  nav {
    width: 100%;
    padding: 70px 0 15px; }
  nav ul {
    display: none; }
  nav ul li a {
    padding: 15px;
    line-height: 20px; } }

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important; } }

#nav-toggle {
  position: absolute;
  left: 10px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px; }

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out; }

#nav-toggle span:before {
  top: -10px; }

#nav-toggle span:after {
  bottom: -10px; }

#nav-toggle.active span {
  background-color: transparent; }

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0; }

#nav-toggle.active span:before {
  transform: rotate(45deg); }

#nav-toggle.active span:after {
  transform: rotate(-45deg); }

/* -- Navigation slut -- */
.border-top {
  border-top: 1px solid #e5e5e5; }

.border-bottom {
  border-bottom: 1px solid #e5e5e5; }

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05); }

button.accept-policy {
  font-size: 1rem;
  line-height: inherit; }

@media only screen and (max-width: 1000px) {
  /* Mobile footer */
  .sec-footer {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)) !important; } }

/* footer start her */
footer {
  width: 100%;
  background-color: #f76c6c;
  padding: 80px 20px;
  font-size: 16px;
  color: #ffffff; }
  footer a {
    color: #fff; }

.footer-grid {
  margin: auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(230px, 100%), 1fr)); }
  .footer-grid div {
    padding: 0 20px 0 0; }
  .footer-grid div:last-of-type {
    padding: 0; }

.links-footer a {
  text-decoration: none; }

.links-footer a:hover {
  text-decoration: underline; }

.links-footer ul {
  color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.logo-link {
  top: 0px;
  right: 10px;
  cursor: pointer; }

.logo-link a img {
  width: 100%;
  height: auto; }

.social-icons {
  display: flex;
  margin-left: -10px; }

.si {
  margin: 0 10px 0 0;
  height: 44px; }
  .si :last-of-type {
    margin: 0; }
  .si :hover {
    opacity: 0.7; }

.kontakt-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

main {
  max-width: 1200px;
  min-height: 50vh;
  margin: auto;
  padding: 32px 20px;
  box-sizing: content-box; }

/* define variables for colors */
.test {
  background-color: red; }

/* ------------------------------------BLOG -----------------------------------------*/
.title {
  margin: 40px 0; }
  .title h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center; }

.blog-topic {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  position: relative; }
  .blog-topic .topic {
    display: grid;
    grid-template-columns: 100px 150px 200px 100px;
    text-align: center;
    margin: 0 0 0 20px; }
    .blog-topic .topic h4 {
      border: 2px solid #f76c6c;
      margin: 0 20px 0 0;
      padding: 7px 0;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      color: #f76c6c;
      text-transform: uppercase; }
  .blog-topic .search {
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    right: 0px;
    margin: 0 0 0 20px;
    height: 20px; }
    .blog-topic .search img {
      width: 35px;
      margin: 0 0 0 15px; }
      .blog-topic .search img:hover {
        cursor: pointer; }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 1000px;
  margin: 0 auto; }

.blog-container {
  width: 300px;
  margin: 20px;
  box-shadow: 4px 4px 10px #888888;
  text-decoration: none; }
  .blog-container a {
    color: black;
    text-decoration: none; }

.blog-top {
  position: relative;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .blog-top .category-upper-right {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #f76c6c;
    color: #fff; }

.blog-bottom {
  padding: 10px 20px; }
  .blog-bottom .blog-date {
    font-size: 14px;
    font-weight: bold;
    color: #f76c6c; }
  .blog-bottom .blog-title {
    font-size: 22px;
    font-weight: bold;
    color: #A9A6A1; }

/* ------------------------------------BLOG INDLÆG -----------------------------------------*/
