@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
  color: #4e4e4e;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

body {
  font-family: Montserrat;
  font-display: swap;
}

h1,
h2 {
  font-family: Merriweather;
  font-display: swap;
}

/* -- Navigation start -- */
header {
  margin-bottom: 70px;
}

.navigation {
  height: 70px;
  background: #24305e;
  position: fixed !important;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 0 20px 0 20px;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
}

.brand {
  position: absolute;
  line-height: 70px;
}

.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0 -10px 0 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 12px;
  line-height: 70px;
  background: #24305e;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  background: #374785;
  color: #ffffff;
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

/*** Mobile navigation ***/
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #24305e;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 698px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 10px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* -- Navigation slut -- */
.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

@media only screen and (max-width: 1000px) {
  /* Mobile footer */
  .sec-footer {
    -ms-grid-columns: (minmax(320px, 1fr))[auto-fit] !important;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)) !important;
  }
}

/* footer start her */
footer {
  width: 100%;
  background-color: #f76c6c;
  padding: 80px 20px;
  font-size: 16px;
}

footer a {
  color: #fff;
}

.footer-grid {
  margin: auto;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min(230px, 100%), 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(min(230px, 100%), 1fr));
}

.footer-grid div {
  padding: 0 20px 0 0;
}

.footer-grid div:last-of-type {
  padding: 0;
}

.links-footer a {
  text-decoration: none;
}

.links-footer a:hover {
  text-decoration: underline;
}

.links-footer ul {
  color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo-link {
  top: 0px;
  right: 10px;
  cursor: pointer;
}

.logo-link a img {
  width: 100%;
  height: auto;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa img {
  width: 40px;
  height: auto;
}

.fa {
  text-align: center;
  text-decoration: none;
  height: 40px;
  margin: 0 10px 0 0;
}

.fa:last-of-type {
  margin: 0;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #ffffff;
  color: #f76c6c;
}

.fa-twitter {
  background: #ffffff;
  color: #f76c6c;
  padding: 2px 2px 2px 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fa-twitter img {
  height: 36px;
  width: auto;
}

.fa-linkedin {
  background: #ffffff;
  color: #f76c6c;
}

.kontakt-footer ul {
  color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1200px;
  min-height: 50vh;
  margin: auto;
  padding: 64px 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/* define variables for colors */
.test {
  background-color: red;
}

/* ------------------------------------BLOG -----------------------------------------*/
.title {
  margin: 40px 0;
}

.title h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.blog-topic {
  width: 1000px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  position: relative;
}

.blog-topic .topic {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 150px 200px 100px;
      grid-template-columns: 100px 150px 200px 100px;
  text-align: center;
  margin: 0 0 0 20px;
}

.blog-topic .topic h4 {
  border: 2px solid #f76c6c;
  margin: 0 20px 0 0;
  padding: 7px 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #f76c6c;
  text-transform: uppercase;
}

.blog-topic .search {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  position: absolute;
  right: 0px;
  margin: 0 0 0 20px;
  height: 20px;
}

.blog-topic .search img {
  width: 35px;
  margin: 0 0 0 15px;
}

.blog-topic .search img:hover {
  cursor: pointer;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  width: 1000px;
  margin: 0 auto;
}

.blog-container {
  width: 300px;
  margin: 20px;
  -webkit-box-shadow: 4px 4px 10px #888888;
          box-shadow: 4px 4px 10px #888888;
}

.blog-container a {
  color: black;
}

.blog-container a:hover {
  text-decoration: none;
}

.blog-top {
  position: relative;
  height: 180px;
  background-color: black;
}

.blog-top .category-upper-right {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 14px;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #f76c6c;
  color: #fff;
}

.blog-bottom {
  padding: 10px 20px;
}

.blog-bottom .blog-date {
  font-size: 14px;
  font-weight: bold;
  color: #f76c6c;
}

.blog-bottom .blog-title {
  font-size: 22px;
  font-weight: bold;
  color: #A9A6A1;
}

/* ------------------------------------BLOG INDLÆG -----------------------------------------*/
/*# sourceMappingURL=main.css.map */