<div class="grid-1-2-1">
    <div class="left-column">
        <div class="makerspace-contact">
            <h2>Kontakt</h2>
            <h4>FabLab UCL</h4>
            <span>Seebladsgade 1, <br />
                5000 Odense C</span>
            <br />
            <h4>Kontakt</h4>
            <span>fablab@ucl.dk</span>
        </div>
    </div>
    <div class="center-column">
        <div class="makerspace">
            <div class="makerspace-header">
                <h2>FabLab UCL</h2>
                <div class="makerspace-header-image" style="
                  background-image: url('/img/makerspace/makerspace-header-img.jpeg');
                "></div>
            </div>
            <div class="makerspace-blog">
                <h2>Seneste blogindlæg</h2>
                <div class="makerspace-blog-excerpt">
                    <div class="makerspace-blog-image" style="background-image: url(/img/makerspace/blog-img.png)">
                    </div>
                    <div class="makerspace-blog-content">
                        <div>
                            <h4>Curabitur porttitor sodales dignissim</h4>
                            <p>
                                Duis scelerisque leo id urna sollicitudin, nec semper sem
                                tincidunt. Etiam leo ex, varius vitae eros vel, molestie
                                hendrerit mauris...
                            </p>
                        </div>
                        <div class="makerspace-blog-excerpt-footer">
                            <span class="makerspace-blog-date">18/10-2020</span>
                            <span class="makerspace-blog-readmore"><a href="#">Læs mere...</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="makerspace-tags-wrapper">
                <h2>Maskiner</h2>
                <div class="makerspace-tags">
                    <span class="makerspace-tag">Ultimaker 2 3d printer</span>
                    <span class="makerspace-tag">EliteWork 3D Printer</span>
                    <span class="makerspace-tag">
                        Epilog Helix Laser Cutter 600mm × 450mm
                    </span>
                    <span class="makerspace-tag">ZPrinter 450</span>
                    <span class="makerspace-tag">ShopBot PRSAIphaWork</span>
                    <span class="makerspace-tag">Universal Laser Cutter</span>
                    <span class="makerspace-tag">Roland MDX-540</span>
                    <span class="makerspace-tag">ZScanner 700</span>
                </div>
            </div>
        </div>
    </div>
    <div class="right-column">
        <div class="activities-sidewidget">
            <h2>Aktiviteter</h2>
            <ul>
                <li>
                    <div class="activities-sidewidget-image" style="background-image: url('/img/aktiviteter/1.jpg')">
                    </div>
                    <div>
                        <h5 class="activities-sidewidget-title">
                            Norwich Science Festival
                        </h5>
                        <span class="activities-sidewidget-date">27. november 2020</span>
                        <span class="activities-sidewidget-info">FabLab UCL, <br />
                            Seebladsgade 1, <br />
                            5000 Odense</span>
                    </div>
                </li>
                <li>
                    <div class="activities-sidewidget-image" style="background-image: url('/img/aktiviteter/2.jpg')">
                    </div>
                    <div>
                        <h5 class="activities-sidewidget-title">OTWorld Connect</h5>
                        <span class="activities-sidewidget-date">27. november 2020</span>
                        <span class="activities-sidewidget-info">FabLab UCL, <br />
                            Seebladsgade 1, <br />
                            5000 Odense</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>