<h2>Makerspace</h2>

@foreach (var makerspace in @Model)
{
    <a asp-controller="makerspace" asp-action="@makerspace.makerSpaceName">
        <h3>@makerspace.makerSpaceName</h3>
    </a>
}

    @{

}